   <li id="li_1" >
    <label class="description" for="element_1">Address </label>
    
    <div>

         <%= f.text_area :location , :id => "element_1_1", :cols => 40, :rows => 5, :class => "element text large" %>

    </div>
  
   
    </li>  