 <div id="jedi_container">
 	
<h1>Editing jedi</h1>

   <%=  render :partial => 'form', :locals => {:address_form => 'simple_address'} %>


<%= link_to 'Show', @jedi %> |
<%= link_to 'Back', jedis_path %>

</div>
